#game-achievements .game-central {
	overflow: auto;
	/* height: 100%; */
	margin-bottom: 160px;
}
#game-achievements .button_bottom {
	position: fixed;
	bottom: 0;
	width: 110%;
	height:190px;
	margin-left	:-14px;
}
#game-achievements .normal-btn {
	min-height: 30vh;
	overflow: visible;
}

#game-achievements h1 span{
	background: #F9C728;
	padding: 10px;
	border-radius: 5px;
	color: black;
}

#game-achievements ul{
	list-style: none;
	padding: 0px 20px;
	//margin-bottom: 300px;
}

#game-achievements li{
	float:left;
	width:100%;
	background-color: #F9C728;
	padding: 15px;
	border-radius: 10px;
	margin-bottom: 3px;
	min-height: 12vh;
	/* display: block; */
	color: black;
}
#achievements-list li{
	background-color: #333;
	color: black;
}

#game-achievements li img{
	width: 18vw;
	/* height: 69px; */
	float: left;
	margin-left: 0vh;
	margin-right: -100px;
	padding: 0px 10px 0px 10px;
	margin-top: 1vh;
	vertical-align: middle;
}

.achievements-btn{	
	border-radius: 10px;
	margin: 1vh;
	width: 23vh;
	height: 23vh;
	background-color: white;
	border: none;
	overflow-y:hidden;
}

.achievements-btn h6{
	font-size:4vh;
	line-height:1vh;
}

.achievements-btn p{
	font-size:2.5vh;
	line-height:2.25vh;
	font-size: 2.15vh;
	line-height: 2.5vh;
	margin: 11px;
	text-align: left;
}

.achievements-footer-btn {
	margin-top: 1vh;
	border: none;
	font-size: 4vh;
	padding: 1vh 6vh;
}

.achiev-item p 
{
	width: 65%;
	margin-left: 25%;
	float: left;
	vertical-align: middle;
	font-size: 4vw;
}
