.dots {
	display: inline-block;
	width: 5vh;
	height: 5vh;
	border-radius: 5vh;
	margin-right:0.6%;
	margin-left:0.6%;
	text-indent: -999em;
	border: 1px solid #eee;
	background-color: rgb(68, 68, 68);
	vertical-align:middle;
}

.dots.done{
	width: 7vh;
	height: 7vh;
	border-radius: 7vh;
	background-color: #fff;
}

