body{
	overflow:auto;
	text-align:center;
	background-color:#4A164B;
	//font-family:Tahoma;
	font-family: 'Chivo';
	color:white;
}

#reset-btn{
	position: absolute;
	background: grey;
	z-index: 10;
	left: 45%;
}

button:focus { outline:0 !important; }

.fade
{
	height:90px;
	background-image:url("../img/fade.png");
	width:100%;
	border-image-repeat: repeat;
}
.footer-bottom
{
	background-color:#4a164b;
	height: 100%;
}
.fixed-fade
{
	height:90px;
	background-image:url("../img/fade.png");
	width:100%;
	border-image-repeat: repeat;
	position: fixed;
	bottom:0;
}

.yqslogo img
{
	width:10vh;
}
@font-face {
	font-family: 'Chivo';
	src: url('../fonts/Chivo/Chivo-Regular.ttf')  format('truetype');
}
@font-face {
	font-family: 'Cubano-Regular';
	src: url('../fonts/Cubano/Cubano-Regular.otf')  format('truetype');
}

#game-container{
	margin:auto;
	position:relative;
	height: 100vh;
	width: 100%;
	//padding-top: 56.25%;
}

#game-content{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0px;
	/* margin-top: 79px; */
	/* margin-bottom: 500px; */
}

#game-header{
	top: 0;
	width: 100%;
	text-align: left;
	height: 10vh;
	position: fixed;
	background-color: #4a164b;
}
h6{
	font-size: 3.5vh;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Cubano-Regular' !important;
	font-weight: 400;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 28px;
	/* margin-left: 16px; */
	padding-top: 0px;
	color: #915792;
	font-size: 1.2em;
	color:;
}
h7, h8 {
	font-family: 'Cubano-Regular' !important;
	font-weight: 400;
	margin: 0px;
	line-height: 28px;
	color: #915792;
}
h7
{
	font-size: 2.4vh;
}
h8
{
	font-size: 2vh;
}
p{
	font-family: 'Chivo' !important;
}
#game-header p{
	margin-top: -3px;
	margin-bottom: 1px;
	font-size: 2.5vh;
	line-height: 2.5vh;
}
#navigator
{
	text-align:center;
	height:30px;
	width:100%;
	margin-top: 12px;
	margin-bottom: 0px;
}
#header-home
{
	margin-left:11px;
}
.sectionTitle
{
	text-align:center;
	width:100%;
}

.game-btn{
	color:black;
	border-radius: 18px;
	background:white;
}

.game-footer{
}

#logo{

}

.button_bottom button {
	align-items: flex-start;
	text-align: center;
	cursor: default;
	color: white;
	background-color: #ED337D;
	box-sizing: border-box;
	//
	padding: 2px 6px 3px; 
	//
	border-width: 5px;
	//
	border-style: solid;
	border-color: #4A164B;
	border-image: none;
	border-radius: 4px;
	box-shadow: 4px 5px 0px #B2235C;
	font-family: 'Chivo';
	font-size: 3vh;
	margin: 16px;
}

ul.topnav {
	//right:0px;
	list-style-type: none;
	padding: 0px;
	overflow: hidden;
	padding-left:5%;
	padding-right:5%;
	z-index: 200;
	//float:right;
	margin-left: 10px;
}
ul.topnav li {
	float: left;
	margin-right: 5px;
}
ul.topnav li a {
	display: inline-block;
	text-align: center;
	padding: 4px 8px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 1.5vw;
	font-family:Tahoma;
	font-weight:bold;
}
ul.topnav li a:hover {
	//background-color: #29aae3;
	//color:white;
}

ul.topnav li.icon,ul.topnav li.search {display: none;}

.title{
	font-size: 2.0vw;
	font-family:Tahoma;
}

.container{
	max-width:1024px;
	margin:auto;	
}

.gallery{
	margin-bottom:250px;
}

.img-circle{
	border-radius:50%;
}

.right{
	float:right;
}

.btn.btn-webs{
	background-color: #0099ff;
	text-decoration: none;
	border-radius: 8%;
	padding: 6px 40px;
	font-size: 2em;
}

#navigator ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#navigator .dots {
	display: inline-block;
	width: 1.3vh;
	height: 1.3vh;
	border-radius: 1.3vh;
	margin-right: 0.6vh;
	margin-left:0.2vh;
	text-indent: -999em;
	//
	border: 1px solid #eee;
	background-color: white;
	vertical-align:middle;
}

#navigator .dots.done{
	width: 1.3vh;
	height: 1.3vh;
	border-radius: 1.3vh;
	background-color: #706E6E;
}
#mainmenu
{
	/* overflow-y: unset !important; */
}
.game-central
{
	/* overflow-y: auto; */
	/* height: 67vh; */
	margin-top: 11vh;
	padding-left: 2vh;
	padding-right: 2vh;
}

footer{
	//margin-top:50px;
	background:#eeeeee;
	//position:fixed;
	bottom:0px;
	width:100%;
	//padding-top: 10px;
	//padding-bottom: 10px;
}



.ui-loader{
	display:none;
}

.summary-item{
	text-align: center;
	width: 100%;
	display: flex;
	margin-bottom: 3vh;
	margin-top: 16px;
}

.summary-img{
	float:left;
	width: 41%;
	text-align: right;
}

.summary-img.first img{
	width:25vw;
}
.summary-img img{
	width: 15vw;
	margin-right: 3vw;
}
.summary-text.first{
	/* padding-top: 12vh; */
	line-height: 4vh;
}
.summary-text{
	float: right;
	width: 50%;
	text-align: left;
	padding-top: 6px;
}
.summary-text p{
	line-height: 2.5vh;
}
.summary-text h1{
	font-size:1.8em;
	color:white;
}
.summary-text h2{
	font-size: 1.2em;
	color:white;
}
.summary-text h3{
	font-size: 1.6em;
	color:white;
}
.summary-text h4{
	font-size: 1.1em;
	color:white;
}

.summary-text h7{
	font-size: 1.1em;
	color:white;
}
.summary-text h8{
	font-size: 1.1em;
	color:white;
}


.popup{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0,0,0,0.75);
	display:none;
	z-index: 10;
}

.popup-sign{
	position: fixed;
	top: 25%;
	left: 10%;
	width: 80%;
	border-radius: 15px;
	background-color: #752a76;
	padding: 60px;
}

#ach-img-cont{
	position: relative;
	width: 140px;
	text-align: center;
	margin: auto;
}
.popup-sign h4
{
	color:white;
	line-height:3vh;
	margin-top:2vh;
}

#achiev-img{
	width: 100%;
}
#achiev-icon{
	background: #F9C728;
	position: absolute;
	left: -5px;
	top: -5px;
	border-radius: 14px;
	width: 49px;
	padding: 11px;
}

.popup-close-btn{
	position: absolute;
	top: -5px;
	right: -5px;
	border-radius: 16px;
	background: #EF2676;
	color: white;
	font-size: 19px;
	padding: 13px 22px;
	margin: 12px;
}

#share{
    margin-top: 20px;
    background-color: inherit;
}



/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:1100px) {
	.container{
		//margin:10vw;
	}
}

@media screen and (max-width:2000px) {//767

	header {
		height: 120px;
	}

	#logo img{
		width: 150px;
		margin-top: 2.7vh;
		margin-left: 1vh;
	}

	ul.topnav{
		position:absolute;
		padding-left:0px;
		padding-right: 16px;
		right: 0px;
		top:0px;
		margin-top:0px;
	}

	ul.topnav li:not(:first-child) {display: none;}
	ul.topnav li.icon {
		/* float: right; */
		display: flex;
		font-size: 10px;
		margin: 11px;
		/* background-color: white; */
		color: #4a164b;
		/* border-radius: 7px; */
		text-align: center;
		width: 7vh;
		height: 7vh;
		padding-left: 4px;
	}

	ul.topnav li a{font-size:2.5vw;}

	ul.topnav li.icon a{font-size: 4vh;}

	ul.topnav.responsive{
		position:absolute;
		top:0px;
		//left: 169px;
		margin-bottom: 0px;
	}

	/*ul.topnav.responsive {position: relative;}*/
	ul.topnav.responsive li.icon {
		//margin-top: -20px;
		//margin-right:100%;
		font-size:12px;
	}
	ul.topnav.responsive li.sectionButt {
		//float: none;
		display: inline;
		margin-top:35px;
	}
	ul.topnav.responsive li {
		display: block;
		text-align: left;
		//float: right;
		//margin-top: 45px;
		margin-top: 9vw;
	}

	ul.topnav.responsive li.icon a{font-size:12px;}

	#header-content.responsive{
		bottom:auto;
		height:auto;
	}

	#navTitle{
		display:inline;
	}

	.game-central button {
		align-items: flex-start;
		text-align: center;
		cursor: default;
		color: white;
		background-color: #3A113B;
		box-sizing: border-box;
		padding: 0px 0px 0px;
		border-width: 3px;
		border-style: solid;
		border-color: #3a113b;
		border-image: none;
		/* height: 21vh; */
		border-radius: 14px;
		width: 95%;
	}


}
