body{
	overflow:auto;
	text-align:center;
	background-color:#4A164B;
	//font-family:Tahoma;
	font-family: 'Chivo';
	color:white;
}

button:focus { outline:0 !important; }

@font-face {
	font-family: 'Chivo';
	src: url('../fonts/Chivo/Chivo-Regular.ttf')  format('truetype');
}
@font-face {
	font-family: 'Cubano-Regular';
	src: url('../fonts/Cubano/Cubano-Regular.otf')  format('truetype');
}

#game-container{
	margin:auto;
	position:relative;
	height: 100vh;
	width: 100%;
	//padding-top: 56.25%;
}

#game-content{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px 20px 0px 20px;
}

#game-header{
	top: 0;
	width: 100%;
	text-align: left;
	height: 12vh;
}
h6{
	font-size: 3.5vh;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Cubano-Regular' !important;
	font-weight: 400;
	margin: 3px;
}
p{
	font-family: 'Chivo' !important;
}
#game-header p{
	margin-top: -3px;
	margin-bottom: 1px;
	font-size: 2.5vh;
	line-height: 2.5vh;
}
#navigator
{
	text-align:center;
	height:30px;
	width:100%;
	margin-top: 12px;
	margin-bottom: 0px;
}
.sectionTitle
{
	text-align:center;
	width:100%;
}

.game-btn{
	color:black;
	border-radius: 8px;
	background:white;
}

.game-footer{
}

#logo{

}

.button_bottom button {
	align-items: flex-start;
	text-align: center;
	cursor: default;
	color: white;
	background-color: #ED337D;
	box-sizing: border-box;
	//
	padding: 2px 6px 3px; 
	//
	border-width: 5px;
	//
	border-style: solid;
	border-color: #4A164B;
	border-image: none;
	border-radius: 4px;
	box-shadow: 4px 5px 0px #B2235C;
	font-family: 'Chivo';
	font-size: 3vh;
}

ul.topnav {
	//right:0px;
	list-style-type: none;
	padding: 0px;
	overflow: hidden;
	padding-left:5%;
	padding-right:5%;
	z-index: 200;
	//float:right;
	margin-left: 10px;
}
ul.topnav li {
	float: left;
	margin-right: 5px;
}
ul.topnav li a {
	display: inline-block;
	text-align: center;
	padding: 4px 8px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 1.5vw;
	font-family:Tahoma;
	font-weight:bold;
}
ul.topnav li a:hover {
	//background-color: #29aae3;
	//color:white;
}

ul.topnav li.icon,ul.topnav li.search {display: none;}

.title{
	font-size: 2.0vw;
	font-family:Tahoma;
}

.container{
	max-width:1024px;
	margin:auto;	
}

.gallery{
	margin-bottom:250px;
}

.img-circle{
	border-radius:50%;
}

.right{
	float:right;
}

.btn.btn-webs{
	background-color: #0099ff;
	text-decoration: none;
	border-radius: 8%;
	padding: 6px 40px;
	font-size: 2em;
}

#navigator ul{
	list-style: none;
	padding: 0px;
	margin: 8px 0px 8px 0px;
}

#navigator .dots {
	display: inline-block;
	width: 1.3vh;
	height: 1.3vh;
	border-radius: 1.3vh;
	margin-right:0.2vh;
	margin-left:0.2vh;
	text-indent: -999em;
	//border: 1px solid #eee;
	background-color: white;
	vertical-align:middle;
}

#navigator .dots.done{
	width: 1.3vh;
	height: 1.3vh;
	border-radius: 1.3vh;
	background-color: #706E6E;
}
.game-central
{
	overflow-y: auto;
	height: 64vh;
}

footer{
	//margin-top:50px;
	background:#eeeeee;
	//position:fixed;
	bottom:0px;
	width:100%;
	//padding-top: 10px;
	//padding-bottom: 10px;
}

.blocked{
	background-color:#ddd;
}

.ui-loader{
	display:none;
}

.summary-item{
	text-align: center;
	width: 100%;
	display: flex;
	margin-bottom: 3vh;
}

.summary-img{
	float:left;
	width: 50%;
	text-align: right;
}

.summary-img.first img{
	width:25vw;
}
.summary-img img{
	width: 15vw;
	margin-right: 3vw;
}
.summary-text.first{
	padding-top: 12vh;
	line-height: 4vh;
}
.summary-text{
	float: right;
	width: 50%;
	text-align: left;
	line-height: 12px;
	padding-top: 5vh;
}


/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:1100px) {
	.container{
		//margin:10vw;
	}
}

@media screen and (max-width:2000px) {//767

	header {
		height: 120px;
	}

	#logo img{
		width:61vw;
	}

	ul.topnav{
		position:absolute;
		padding-left:0px;
		padding-right:0px;
		right: 0px;
		top:0px;
		margin-top:0px;
	}

	ul.topnav li:not(:first-child) {display: none;}
	ul.topnav li.icon {
		float: right;
		display: flex;
		font-size:12px;
		margin: 19px;
	}

	ul.topnav li a{font-size:2.5vw;}

	ul.topnav li.icon a{font-size:5vh;}

	ul.topnav.responsive{
		position:absolute;
		top:0px;
		//left: 169px;
		margin-bottom: 0px;
	}

	/*ul.topnav.responsive {position: relative;}*/
	ul.topnav.responsive li.icon {
		//margin-top: -20px;
		//margin-right:100%;
		font-size:12px;
	}
	ul.topnav.responsive li.sectionButt {
		//float: none;
		display: inline;
		margin-top:35px;
	}
	ul.topnav.responsive li {
		display: block;
		text-align: left;
		//float: right;
		//margin-top: 45px;
		margin-top: 9vw;
	}

	ul.topnav.responsive li.icon a{font-size:12px;}

	#header-content.responsive{
		bottom:auto;
		height:auto;
	}

	#navTitle{
		display:inline;
	}

	.game-central button {
		align-items: flex-start;
		text-align: center;
		cursor: default;
		color: white;
		background-color: #3A113B;
		box-sizing: border-box;
		padding: 0px 0px 0px;
		border-width: 3px;
		border-style: solid;
		border-color: #4A164B;
		border-image: none;
		height: 24vh;
		border-radius: 14px;
	}
}

