.menu-btn{
	height: 13vh;
	margin-bottom: 4px;
	background-color:#3A113B;
	color:white;
	font-family: 'Cubano-Regular' !important;
	font-weight: 400;
	/* margin: 3px; */
	padding: 5px;
}

#game-menu{

}
.singleTitle{
	margin-top: 3.9vh;
}
.doubleTitle{
	margin-top: 3vh;
}

#game-menu ul{
	list-style: none;
	padding: 0px;
	margin: 8px 0px 8px 0px;
}

.menu-title{
	font-size: 3.1vh;
}

.menu-subtitle{
	font-size: 2.2vh;	
	font-family: 'Cubano-Regular' !important;
}

.game-stars-container{
	margin-top: 3vh;
	margin-right: 16px;
	float: right;
}

.game-stars{
	font-size:3.5vh;
}
.star{	
	width:3vh;
}
.menu-footer-btn{
	width: 75%;
	padding: 5%;
	margin: 4px;
	height: 84px;
	border-color: #0000008c;
}

.menu-footer-btn img{
	/* clear: both; */
	/* width:90%; */
	width: 43px;
	/* float: unset; */
}

#menu-btn-casual-title
{
	/* margin-top: 28px; */
	margin-left: 10px;
	/* width: 70%; */
	float: left;
	line-height: 1;
}
#menu-btn-casual-title_full
{
	margin-top: 22px;
	font-size: 3.8vh;
}
#footerHomeBtn1
{
	background-color:#EF2676;
}
#footerHomeBtn2
{
	background-color:#F9C728;
}
#footerHomeBtn3
{
	background-color:#4EE3F3;
}

#footerHomeBtn3.blocked{
	background-color: #752a76;
	color: #aaa;
}
#footerHomeBtn3.blocked img{
	color: #000;
	opacity: 0.2;
}
#footerHomeBtn3 img{
	color: #000;
}

.blocked{
	background-color: #752a76;
	color: #915591;
}

.qty_signal
{
	float:left;
	background-color: red;
	border-radius: 8px;
	padding: 2px 6px;
	margin-top: -23px;
	margin-right: -2vh;
	margin-left: -3vh;
	float: right;
	clear: right;
	color: white;
	font-size: 1em;
}

#achievement_signal{
	#display:none;
}
