.menu-btn{
	height: 13.6vh;
	margin-bottom: 4px;
	background-color:#3A113B;
	color:white;
	font-family: 'Cubano-Regular' !important;
	font-weight: 400;
	margin: 3px;
}

#game-menu{
	
}

#game-menu ul{
	list-style: none;
	padding: 0px;
	margin: 8px 0px 8px 0px;
}

.menu-title{
	font-size:3.5vh;	
}

.menu-subtitle{
	font-size: 2.2vh;	
	font-family: 'Cubano-Regular' !important;
}

.game-stars-container{
	margin-top:3vh;
}

.game-stars{
	font-size:3.5vh;
}

.menu-footer-btn{
	/* width: 80%; */
	padding: 5%;
	margin: 4px;
}

.menu-footer-btn img{
	/* width:90%; */
	width: 58px;
}

#menu-btn-casual-title
{
	margin-top: 17px;
}
#menu-btn-casual-title_full
{
	margin-top: 22px;
	font-size: 3.8vh;
}
