#game-normal .game-central {
    overflow:unset;
	height: 100%;
}
#game-normal .button_bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    height:100px;
    background-color:#4a164b;
    margin-left	:-14px;
}
#game-normal .normal-btn {
   min-height: 30vh;
   overflow: visible;
}
#normal-pregunta{
	color: white;
	font-size: 3vh;
	text-align: center;
	line-height: 3.5vh;
	margin-top: 0vh;
	margin-bottom: 19px;
}

.normal-btn{	
	border-radius: 10px;
	margin: 1vh;
	width: 23vh;
	height: 23vh;
	background-color: white;
	border: none;
	overflow-y:hidden;
}

.normal-btn h6{
	font-size:4vh;
	line-height:1vh;
}

.normal-btn p{
	font-size:2.5vh;
	line-height:2.25vh;
	font-size: 2.15vh;
	line-height: 2.5vh;
	margin: 11px;
	text-align: left;
}

#normal-partial-pregunta{
	font-size: 4vw;
	line-height: 5vw;
	/* width: 80%; */
	margin-top: 11px;
	margin-bottom: 50px;
}

#normal-partial-summary .summary-img {
	float:left;
	width: 20%;
	text-align: right;
}

#normal-partial-summary .summary-img  img{
	width: 15vw;
	margin-right: 3vw;
}

#normal-partial-summary .summary-text{
	/* float: left; */
	width: 80%;
	text-align: left;
	line-height: 12px;
	margin-top: -5px;
}

#summary-detail-header{
	width: 100%;
	height: 100%;
	margin-bottom: 100px;
}

.normal-detail-quest{
	text-align: left;
	color: white;
	width: 100%;
	/* margin: 50px 5px; */
	padding: 0px 5px;
}

.normal-detail-answ{
	text-align: left;
	color: green;
	padding-left: 60px;
	line-height: 16px;
}

.normal-footer-btn {
    margin-top: 1vh;
    border: none;
    font-size: 4vh;
    padding: 1vh 6vh;
}