#prode-options{
	background-image: url(../img/arrowsB2x.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 54vh;
}

#prode-options button
{
	position: relative;
	height: 27vh;
	margin-bottom: 7px;
	//
	background: transparent;
	background: rgba(0,0,0,0.1);
	border: none;
}

#prode_si{
	position:absolute;
	top:0px;
	left:0px;
	margin: 22px;
	color: white;
	font-size: 4em;
}

#prode_si_pero{
	position:absolute;
	top:0px;
	right:0px;
	text-align:right;
	font-size: 20px;
	margin: 22px;
	line-height:18px;
	width: 51%;
	color: white;
}

#prode_no_pero{
	width: 50%;
	position:absolute;
	bottom:0px;
	left:0px;
	text-align:left;
	font-size:18px;
	line-height:18px;
	margin: 22px;
	color: white;
}

#prode_no{
	position:absolute;
	bottom:0px;
	right:0px;
	color: white;
	margin: 22px;
	font-size: 4em;
}


#game-prode .button_bottom
{
	margin-bottom:150px;
}

.avatar{
	position: absolute;
	left: 50vw;
	top: 30vh;
	text-align: center;
	margin-left: -35px;
	margin-top: -44px;
}

.avatar img{
	
}

.avatar-cabeza{
	width: 90px;
	margin-left: -70px;
	margin-top: -27px;
}

.avatar-cuerpo{
	width: 60px;
	//margin-left: -30px;
	margin-top: 100px;
}
#prode-header{
	text-align:center;
	margin: 10px 30px 30px 10px;
}

#prode-header h6{
	font-size:3.5vh;
	margin-bottom:1px;
}

#prode-header p{
    font-size: 2vh;
    line-height: 2.5vh;
    margin-top: 0px;	
}

.prode-btn{
	color: white;
	width: 100%;
}

.prode-btn img{
	height: 50%;
	margin-bottom:10px;
}

.prode-btn p{
	margin:0px;
}

.prode-footer-btn{
	margin-top: 1vh;
	border: none;
	font-size: 4vh;
	padding: 1vh 6vh;
}

#prode-options .candidato
{
	position: absolute;
	text-align: center;
	font-size: 15px;
	line-height: 14px;
	width: 100%;
	margin-top: 7px;
	color: #915792;
}
#prode-options .partido
{
	position: absolute;
	text-align: center;
	font-size: 12px;
	font-weight: 800;
	line-height: 10px;
	width: 100%;
	color: #915792;
}

.prode-btn.right-answ{
	background-color:green;
}

.prode-btn.wrong-answ{
	background-color:red;
}



