#game-casual ul{
	list-style: none;
	padding: 0px;
	margin: 8px 0px 8px 0px;
}

#qdq-header{
	text-align:center;
	margin: 10px 40px 40px 40px;
}

#qdq-header h6{
	font-size:3.5vh;
	margin-bottom:1px;
}

#qdq-header p{
    font-size: 2vh;
    line-height: 2.5vh;
    margin-top: 0px;	
}

.qdq-btn{
	//background-color: black;
	color: white;
	//height: 25vh;
	width: 100%;
	//padding: 1vh 5vh 5vh 5vh;
}

.qdq-btn img{
	height:53%;
	margin-bottom:10px;
}

.qdq-btn p{
	margin:0px;
}

.qdq-footer-btn{
	margin-top: 3vh;
	//color: black;
	//background-color: white;
	border: none;
	font-size: 4vh;
	padding: 1vh 6vh;
}

.game-central button {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: white;
    background-color: #3A113B;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width: 5px;
	border-style: solid;
    border-color: #4A164B;
    border-image: none;
	height:250px;
}
.candidato
{
	font-size:1.5vh;
	line-height: 2vh;
}
.partido
{
	font-size:1.2vh;
	font-weight:800;
	line-height: 2vh;
}



