#qdq-options button
{
	height: 21vh;
	margin-bottom: 7px;
}
#qdq-header{
	text-align:center;
	margin: 10px 30px 30px 10px;
}

#qdq-header h6{
	font-size:3.5vh;
	margin-bottom:1px;
}

#qdq-header p{
    font-size: 2vh;
    line-height: 2.5vh;
    margin-top: 0px;	
}

.qdq-btn{
	color: white;
	width: 100%;
}

.qdq-btn img{
	height: 50%;
	margin-bottom:10px;
}

.qdq-btn p{
	margin:0px;
}

.qdq-footer-btn{
	margin-top: 1vh;
	border: none;
	font-size: 4vh;
	padding: 1vh 6vh;
}

.candidato
{
	font-size: 1.7vh;
	line-height: 2vh;
}
.partido
{
	font-size: 1.4vh;
	font-weight:800;
	line-height: 2vh;
}

.qdq-btn.right-answ{
	background-color:green;
}

.qdq-btn.wrong-answ{
	background-color:red;
}



